body{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom, #EAE4D5, #B6B09F);
}

button{
  height: 80px;
  width: 20vh;
  background-color: #B6B09F;
  font-size: 8vh;
  border-radius: 2vh;
  border-color:black;
  margin: 0.5vh;
  padding: 0.5vh;
}

#screen{
  height: 13.9vh;
  width: 83.5vh;
  text-align: right;
  font-size: 8vh;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  border-color: black;  
  margin: 0.5vh;
  padding: 0.5vh;
  background:#EAE4D5;
}
